<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <h1 class="h">Skeleton App</h1>
    <h5 class="h">Aqui comienza todo</h5>
    <br>
    <br>
    <h3 class="h">Bienvenidos!</h3>
    <br>
    <div class="content">

        <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">


            <ion-label>Nombre</ion-label>

            <ion-input class="lin" type="text" placeholder="Ingrese Nombre" id="UserLog" name="nombre" [(ngModel)]="usuario.nombre" minlength="3" maxlength="6" required></ion-input>

            <br>
            <ion-label>Contraseña</ion-label>
            <ion-input class="lin" ng-pattern="/^([0-9])$/" type="password" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,''),alert('Ingresar solo Números')" placeholder=" ****** " id="UserLog " name="password " [(ngModel)]="usuario.password "
                minlength="4 " maxlength="4 " required></ion-input>
            <br>
            <div id="b ">
                <ion-button id="b " expand="full " type="submit " color="light " [disabled]="formulario.invalid ">Ingresar</ion-button>
            </div>
        </form>

    </div>

    <br>
    <br>
    <div id="u">
        <a href="/registro ">Crea tu cuenta gratis</a>
    </div>



</ion-content>