
.content {
    padding-left: 10%;
    padding-right: 10%;
}

.h {
    text-align: center;
}

#b {
    text-align: center;
}

#u {
    text-align: center;
}

.lin {
    border-bottom: solid 1px #0000003f;

}