#UserLog {
    //text-align: center;
    overflow-x: hidden;
    border-bottom: solid 1px #ffffff36;
}

.content {
    padding-top: 20vh;
    padding-right: 10%;
    padding-left: 10%;
}

#login-button {
    text-align: center;
}