.h {
    text-align: center;
}

.bor {
    border-bottom: solid 1px #000000b0;
}

.registro {
    padding-right: 10px;
}

.fot {
    text-align: center;
    background-color: #d8d8d8;
}