<ion-header>
    <ion-toolbar>
        <ion-title>registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="contenido">
    <main>
        <form #actionForm="ngForm" (ngSubmit)="onSubmitCrear()">
            <h1 class="h">Bienvenido!</h1>
            <h6>Usuario:</h6>
            <h3 class="h">Información Adicional</h3>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p class="registro">Nombre</p>
                    </ion-col>
                    <ion-col>
                        <ion-input class="bor" type="text" placeholder="Ingrese nombre" [(ngModel)]="nombre"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p class="registro">Apellido</p>
                    </ion-col>
                    <ion-col>
                        <ion-input class="bor" placeholder="Ingrese apellido"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <br>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p>Nivel Educación</p>
                    </ion-col>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-select placeholder="Seleccione Nivel">
                                    <ion-select-option value="Básica">Básica</ion-select-option>
                                    <ion-select-option value="Media">Media</ion-select-option>
                                    <ion-select-option value="Superior">Superior</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <br>
            <ion-item class="popCalendar">
                <ion-label>Fecha de Nacimiento</ion-label>
                <ion-input value="{{ date | date: 'dd.mm.yyyy' }}" id="date" class="ion-text-end" size="cover"></ion-input>
                <ion-popover trigger="date" size="cover" side="left" alignment="center">
                    <ng-template>
                        <ion-datetime class="fecha" [(ngModel)]="date" presentation="date" [preferWheel]="true"></ion-datetime>
                        <!--ion-datetime presentation="date"  ></ion-datetime-->
                    </ng-template>
                </ion-popover>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button type="reset" color="light">Limpiar</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="light">Mostrar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </main>

</ion-content>